.card-match {
  height: 128px;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:7%;  
}

.header {
  color: green;
  font-weight: 300;
}

.card-content > .center > img{
  object-fit: contain;
}